<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Klik Untuk melihat detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

<!-- (click)="detail(data.judul,data.isi,data.tanggal,data.nilainote,data.image)" -->
  <ion-list *ngFor="let data of isiData | async">
    <ion-item>
      Judul : <h1>{{data.judul}}</h1>
    </ion-item>
    <ion-item>
      isi :<h1>{{data.isi}}</h1>
    </ion-item>
    <ion-item>
      tanggal: <h1>{{data.tanggal}}</h1>
      
    </ion-item>
    <ion-item>
      nilai note:<h1>{{data.nilainote}}</h1>
      
    </ion-item>
    <ion-item>
      <ion-img [src]="data.image" ></ion-img>
    </ion-item>
  </ion-list>

</ion-content>
